extends ../layout

block example-content
  h1 xito! 

  p
    | Felicitaciones #{ subscription.customer.name }, est谩s suscrito a #{ subscription.plan.name } .

  h2 Detalles del plan

  strong Plan:
  p= subscription.plan.name
  strong Precio:
  p #{ subscription.plan.currency }#{ subscription.plan.price }/mes

  h2 Detalles de la transacci贸n

  strong Monto:
  p= subscription.transactions[0].amount
  strong Moneda:
  p= subscription.transactions[0].currency
  strong Fecha:
  p= subscription.transactions[0].currency
  strong Descripci贸n:
  p= subscription.transactions[0].description
  strong Tipo de pago:
  p Cr茅dito
  strong N煤mero de cuotas:
  p 0
  strong Tarjeta utilizada:
  p #{ card.card_type.toUpperCase() } 路路路路 #{ card.last_4_digits }


  a.btn.btn-primary(href="/")
    | Volver al Inicio

  a.btn.btn-primary(href="/examples/subscriptions")
    | Volver al Ejemplo

  hr

  p
    | Respuesta de la API:
  pre
    code.language-javascript
      | !{ Prism.highlight(JSON.stringify(subscription, null, 2), Prism.languages.javascript) }