extends ../layout

block example-content
  h1 xito! 

  p
    | Tu transacci贸n se ha realizado sin problemas. Estamos procesando tu orden. Gracias por confiar en nosotros .

  h3 Detalles de la transacci贸n

  ul
    li ID de la transacci贸n: #{ transaction.id }
    li Fecha de la transacci贸n: #{ new Date(transaction.created_at).toLocaleString() }
    li Monto: $#{ transaction.payment.amount }
    li Descripci贸n: #{ transaction.description }
    li Tipo de pago: #{ transaction.payment.payment_type == 'credit' ? 'Cr茅dito': 'D茅bito' }
    li N煤mero de Cuotas: #{ transaction.payment.installments }

  a.btn-primary(href="/")
    | Volver al Inicio

  a.btn-primary(href="/examples/charge")
    | Volver al Ejemplo

  hr

  p
    | Respuesta de la API:
  pre
    code.language-javascript
      | !{ Prism.highlight(JSON.stringify(transaction, null, 2), Prism.languages.javascript) }